  .registration {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:100px;
    // padding-bottom: 100px;
    width:100%;
    // background: pink;
    background-image: url("../images/black-sky.jpg");
    background-size: contain;
    position: relative;
    
  
    &:before {
      content: "";
      height:80%;
      width: 100%;
      background-image: url("../images/twinkling.png");
      animation-name: moving;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      opacity: 0.5;
      position: absolute;
      z-index: 5;
      background-size: contain;
      background-repeat: repeat;
      
    }
  
    @keyframes moving {
      0% {
        transform: translateY(0%);
        
      }
      100% {
        transform: translateY(10%);
       
      }
  
      }

      .container {
      //   display: flex;
      //  justify-content: center;
      //  align-items: center;
        // height: 80%;
        // width:100%;
        // position: relative;
        
        // margin:0;
        // position: relative;
        // border: 2px solid yellow;
        // margin: 0;
        // color: white;
        z-index: 55;
        padding:10px;
        // background-color: #195b98;
        width: 500px
    }
    }  